/*—————BOTSTRAP—————*/
.nav-pills > li > a {
	border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #fff;
	color: #90a4ae;
}
.img-responsive {
	margin: auto;
}

/*—————GENERAL RULE—————*/
body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
}
b {
	font-size: 18px;
}
ul {
	padding: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
}

.btn {
	border: 3px solid rgb(255, 53, 61);
	border-radius: 0;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
	width: 300px;
	height: 55px;
	margin: 0;
	text-decoration: none;
	line-height: 37px;
	font-weight: bold;
}
.btn:hover {
	color: rgba(255, 53, 61, 0.7);
	text-decoration: none;
	border: 3px solid rgba(255, 53, 61, 0.7);
}
.btn:focus {
	color: rgba(255, 53, 61, 0.9);
	text-decoration: none;
	border: 3px solid rgba(255, 53, 61, 0.9);
}
.red {
	color: rgb(255, 53, 61);
}
@media (max-width:329px) {
	.btn {
		width: 98%;
	}
}
@media (min-width:768px) {
	.btn {
		font-size: 18px;
	}
}

.subtitle {
	color: #212121;
	font-size: 26px;
	text-align: center;
	position: relative;
}
.subtitle:after {
	position: absolute;
	content: "";
	height: 5px;
	width: 78px;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 0;
	background-color: rgb(255, 53, 61);
	margin: auto;
}
@media (min-width:768px) {
	.subtitle {
		font-size: 36px;
	}
}

/*—————HEADER—————*/
.page-header {
	margin: 0;
	padding: 0;
	border: none;
	min-height: 65px;
}
.logo {
	padding-top: 10px;
}
.dropdown-toggle {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 65px;
	height: 65px;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
		 -moz-appearance: none;
	appearance: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	-webkit-transition: background 0.3s;
					transition: background 0.3s;
	-webkit-box-shadow: -1px 3px 7px 0px #777;
		 -moz-box-shadow: -1px 3px 7px 0px #777;
					box-shadow: -1px 3px 7px 0px #777;
	position:absolute;
	top: 0px;
	right: 0px;
}
.dropdown-toggle:focus {
	outline: none;
}
.dropdown-toggle span {
	display: block;
	position: absolute;
	top: 33px;
	left: 20px;
	right: 20px;
	height: 1px;
	background: white;
}
.dropdown-toggle span::before,
.dropdown-toggle span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	content: "";
}
.dropdown-toggle span::before {
	top: -7px;
}
.dropdown-toggle span::after {
	bottom: -7px;
}
.cmn-toggle-switch__htx {
	background-color: rgb(255, 53, 61);
}
.cmn-toggle-switch__htx span {
	-webkit-transition: background 0 0.3s;
					transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
	-webkit-transition-duration: 0.3s, 0.3s;
					transition-duration: 0.3s, 0.3s;
	-webkit-transition-delay: 0.3s, 0;
					transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
	-webkit-transition-property: top, -webkit-transform;
					transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
	-webkit-transition-property: bottom, -webkit-transform;
					transition-property: bottom, transform;
}
.cmn-toggle-switch__htx.active {
	background-color: rgb(255, 53, 61);
}
.cmn-toggle-switch__htx.active span {
	background: none;
}
.cmn-toggle-switch__htx.active span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
	-webkit-transition-delay: 0, 0.3s;
					transition-delay: 0, 0.3s;
}
.dropdown-menu {
	position:absolute;
	top:65px;
	right:0px;
	margin-right: 0px;
	background-color: #212121;
	padding-top:50px;
	padding-bottom:50px;
	border-radius: 0px;
}
.dropdown-menu li {
	height: 25%;
}
.dropdown-menu li a {
	height: 100%;
	width: 100%;
	text-transform: uppercase;
	color: #ffffff;
	padding-left: 45px;
	padding-top: 15px;
}
.dropdown-menu li a:hover{
	color: rgb(255, 53, 61);
	background-color: #ffffff;
	font-weight: bold;
}
.dropdown {
	margin: 0px;
}
.menu {
	margin: 0px;
	padding: 0px;
}
@media screen and (min-width:320px) {
	.dropdown-menu {
		width:300px;
		height: 300px;
	}
	.support{
		height: 470px;
	}
}
@media screen and (min-width:768px) {
	.dropdown-menu {
		width:450px;
		height: 300px;
	}
	.support{
		height: 395px;
	}
}

.number {
	text-align: right;
	padding-top: 20px;
}
.header-tel {
	font-size: 18px;
	color: #000;
	text-decoration:none;
}
.header-tel:hover,
.header-tel:focus {
	color: rgb(255, 53, 61);
}

.header-navigation {
	float: right;
}
.nav{
	margin: 0px;
	padding: 0px;
}
.nav > li > a {
	text-decoration: none;
	color: rgb(255, 53, 61);
	text-transform: uppercase;
	height: 65px;
	line-height: 45px;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}
.nav > li > a:hover {
	text-decoration: none;
	color: #212121;
	background-color: #fff;
}
.nav > li > a:focus {
	text-decoration: none;
	color: rgb(255, 53, 61);
	background-color: #fff;
}

/*—————PROMO—————*/
.promo {
	-webkit-background-size: cover;
					background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 470px;
	color: #fff;
	text-align: center;
	padding: 155px 0 0 0;
}
.promo-main {
	background-image: url(..//img/background-promo.png);
}
.promo-main-title {
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.promo-main-address {
	font-size: 18px;
	margin-bottom: 65px;
}
.promo-main-address:before {
	content: "";
	display: inline-block;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 24px;
	background-position: -169px -5px;
	vertical-align: middle;
	margin-right: 10px;
}
@media (min-width:768px) {
	.promo {
		padding: 168px 0 0 0;
	}
	.promo-main-title {
		font-size: 36px;
		margin-bottom: 25px;
	}
}
@media (min-width:992px) {
	.promo {
		padding: 200px 0 0 0;
		min-height: 555px;
	}
}
@media (min-width:1200px) {
	.promo {
		padding: 239px 0 0 0;
		min-height: 635px;
	}
	.promo-main-address {
		margin-bottom: 62px;
	}
}

/*—————ABOUT—————*/
.about {
	background-color: rgb(255, 53, 61);
	min-height: 468px;
	text-align: center;
	color: #fff;
	padding: 57px 0 0 0;
}
.about-title {
	font-size: 20px;
	margin-bottom: 50px;
}
.about-item {
	max-width: 280px;
	position: relative;
	text-align: left;
	margin: auto;
	margin-bottom: 40px;
	padding-left: 70px;
}
.about-item:before {
	position: absolute;
	content: "";
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.directions:before {
	width: 48px;
	height: 48px;
	background-position: -5px -5px;
}
.sunsets:before {
	width: 44px;
	height: 60px;
	background-position: -115px -5px;
}
.key:before {
	width: 42px;
	height: 48px;
	background-position: -63px -5px;
}
.about-item-info {
	display: block;
	font-size: 14px;
	color: #ffebee;
}
@media (min-width:768px) {
	.about {
		padding: 87px 0 0 0;
		min-height: 393px;
	}
	.about-title {
		font-size: 24px;
	}
	.about-item {
		max-width: 280px;
		position: relative;
		text-align: center;
		margin: auto;
		margin-bottom: 40px;
		padding-left: 0;
		padding-top: 70px;
	}
	.about-item:before {
		position: absolute;
		content: "";
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
		top: 0;
		bottom: 0;
		right: 0;
		left: 85px;
	}
}
@media (min-width:992px) {
	.about {
		padding: 87px 0 0 0;
		min-height: 315px;
	}
	.about-item {
		max-width: 280px;
		position: relative;
		text-align: left;
		margin: auto;
		margin-bottom: 40px;
		padding-left: 70px;
		padding-top: 0;
	}
	.about-item:before {
		position: absolute;
		content: "";
		background-image: url(../img/spritesheet.png);
		background-repeat: no-repeat;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

/*—————ROOMS—————*/
.rooms {
	padding: 60px 0 80px 0;
	text-align: center;
}
.rooms-title {
	margin-bottom: 70px;
}
.rooms-selection {
	margin-bottom: 25px;
}
.rooms-link {
	color: #212121;
}
.rooms-link:hover {
	color: #212121;
}
.rooms-link:focus {
	color: #212121;
}
.rooms-item {
	margin: auto;
	height: 314px;
	margin-bottom: 20px;
	padding-top: 120px;
}
.room-twelve {
	background-image: url(../img/room-twelve.png);
	background-repeat: no-repeat;
	background-position: center;
}
.room-six {
	background-image: url(../img/room-six.png);
	background-repeat: no-repeat;
	background-position: center;
}
.room-two {
	background-image: url(../img/room-two.png);
	background-repeat: no-repeat;
	background-position: center;
}
.room-one {
	background-image: url(../img/room-one.png);
	background-repeat: no-repeat;
	background-position: center;
}
.room-table {
	font-size: 18px;
	text-align: left;
	margin: auto;
}
.table-title {
	text-align: center;
}
.room-table th {
	width: 100px;
}
.room-table th, td {
	padding-bottom: 5px;
}
.room-table
@media (min-width:768px) {
	.rooms {
		padding: 125px 0 80px 0;
	}
}
@media (min-width:992px) {
	.rooms-item {
		height: 455px;
		padding-top: 190px;
	}
}
@media (min-width:1200px) {
	.rooms {
		padding: 120px 0 80px 0;
	}
	.rooms-item {
		height: 461px;
	}
	.table-title {
		font-size: 24px;
	}
}

/*—————GALLERY—————*/
.gallery {
	padding: 31px 0 103px 0;
	text-align: center;
}
.gallery-subtitle {
	margin-bottom: 73px;
}
.gallery-list {
	margin-bottom: 30px;
}
.gallery-photo {
	text-align: center;
	height: 182px;
	margin-bottom: 20px;
}
.gallery-photo-item {
	height: auto;
	vertical-align: middle;
}
@media (min-width:992px) {
	.gallery-photo {
		height: auto;
	}
}
@media (min-width:1200px) {
	.gallery-photo-item {
		width: 100%;
	}
}

/*—————OFFER—————*/
.offer {
	background-color: rgb(255, 53, 61);
	color: #fff;
	text-align: center;
	padding: 50px 0 0 0;
}
.offer-title {
	font-size: 20px;
	margin-bottom: 50px;
}
.offer-item {
	max-width: 330px;
	position: relative;
	text-align: left;
	margin: auto;
	margin-bottom: 40px;
	padding-left: 70px;
}
.offer-item:before {
	position: absolute;
	content: "";
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.wifi:before {
	width: 48px;
	height: 48px;
	background-position: -483px -5px;
}
.lock:before {
	width: 40px;
	height: 48px;
	background-position: -375px -5px;
}
.cup:before {
	width: 48px;
	height: 48px;
	background-position: -317px -5px;
}
.umbrella:before {
	width: 48px;
	height: 48px;
	background-position: -425px -5px;
}
.offer-item-info {
	display: block;
	font-size: 14px;
	color: #ffebee;
}
@media (min-width:768px) {
	.offer {
		padding: 70px 0 20px 0;
	}
	.offer-title {
		font-size: 24px;
	}
}

/*—————CONTACTS—————*/
.contacts {
	padding: 55px 0 25px 0;
	text-align: center;
}
.contacts-info {
	padding: 0 0 25px 0;
}
.contacts-title {
	margin-bottom: 70px;
}
.contacts-item {
	text-align: center;
	margin: 0;
	font-size: 18px;
	margin-bottom: 25px;
	color: #000;
}
.contacts-item:hover {
	color: #000;
}
.contacts-item:before {
	content: "";
	display: inline-block;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 15px;
}
.address-icon:before {
	width: 18px;
	height: 24px;
	background-position: -197px -5px;
}
.coll-icon:before {
	width: 24px;
	height: 24px;
	background-position: -225px -5px;
}
.mail-icon:before {
	width: 24px;
	height: 22px;
	background-position: -259px -5px;
}
.map {
	margin-bottom: 50px;
}
#map {
  width: 100%;
  height: 400px;
}
@media (min-width:768px) {
	.contacts {
		padding: 103px 0 113px 0;
	}
}
@media (min-width:992px) {
	.contacts-item {
		width: 33%;
	}
}
@media (min-width:1200px) {
	.contacts {
		padding: 103px 0 80px 0;
	}
}

/*—————FOOTER—————*/
.page-footer {
	background-color: rgb(255, 53, 61);
	color: #fff;
	padding: 34px 0 40px 0;
}
.footer-nav {
	margin: 0 0 0 60px;
}
.footer-nav-two {
	margin-bottom: 40px;
}
.footer-nav-item {
	list-style: none;
	margin-bottom: 6px;
}
.footer-nav-item a {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
.footer-nav-item a:hover {
	font-weight: bold;
}
.footer-nav-active a {
	color: #ef9a9a;
}
.footer-nav-active > a:hover,
.footer-nav-active > a:focus {
	color: #ef9a9a;
	font-weight: normal;
}
.footer-contacts {
	margin: 0 0 0 60px;
}
.footer-contacts a {
	font-size: 14px;
	color: #fff;
}
.footer-contacts-address {
	margin-bottom: 5px;
}
.footer-contacts-tel, .footer-contacts-mail {
	display: block;
}
.copyright {
	margin: 0;
}
@media (min-width:768px) {
	.page-footer {
		padding: 47px 0 10px 0;
	}
}
@media (min-width:1200px) {
	.page-footer {
		min-height: 217px;
	}
	.footer-nav-item {
		margin-bottom: 0;
	}
	.footer-nav-one, .footer-contacts-one {
		width: 50%;
		float: left;
		margin-left: 0;
	}
	.footer-nav-two, .footer-contacts-two {
		width: 50%;
		float: left;
		margin-left: 0;
	}
}

/*—————PROMO ROOMS—————*/
.promo-rooms {
	background-image: url(..//img/background-rooms.png);
}
.promo-rooms-title {
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: rgb(255, 53, 61);
}
.promo-rooms-address {
	font-size: 18px;
	margin-bottom: 65px;
	color: #000;
}
.promo-rooms-address:before {
	content: "";
	display: inline-block;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 24px;
	background-position: -169px -5px;
	vertical-align: middle;
	margin-right: 10px;
}
@media (min-width:768px) {
	.promo-rooms-title {
		font-size: 36px;
		margin-bottom: 25px;
	}
}
@media (min-width:1200px) {
	.promo-rooms-address {
		margin-bottom: 62px;
	}
}

/*—————ROOMS INFORMATION—————*/
.rooms-information {
	padding: 20px 0 0 0;
}
.rooms-info-item {
	margin-bottom: 60px;
}
.rooms-info-img {
	margin-bottom: 20px;
}
.rooms-info-title {
	font-size: 24px;
	color: rgb(255, 53, 61);
	margin-bottom: 30px;
}
.list {
	margin-bottom: 25px;
}
.list-row {
	margin-bottom: 10px;
	color: #607d8b;
}
.list-title, .list-text {
	display: inline-block;
	font-size: 14px;
	padding-left: 25px;
	position: relative;
}
.list-title {
	width: 150px;
}
.tick {
	color: #000;
}
.tick:before {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	width: 14px;
	height: 10px;
	background-position: -293px -5px;
}
.rooms-information-table {
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.book {
	text-align: center;
}
.luxe {
	color: #90a4ae;
}
@media (min-width:492px) {
	.rooms-info-offer, .rooms-information-table {
		width: 350px;
		margin: auto;
	}
	.rooms-information-table {
		margin-bottom: 30px;
	}
}
@media (min-width:768px) {
	.rooms-information {
		padding: 30px 0 0 0;
	}
}
@media (min-width:992px) {
	.rooms-information {
		padding: 30px 0 0 0;
	}
	.rooms-info-offer, .rooms-information-table {
		width: 100%;
	}
}
@media (min-width:1200px) {
	.rooms-information {
		padding: 60px 0 0 0;
	}
	.rooms-info-item {
		margin-bottom: 90px;
	}
	.book {
		text-align: left;
	}
	.img-responsive {
		margin: 0;
	}
}

/*—————PROMO PHOTO—————*/
.promo-photo {
	background-image: url(../img/background-photo.png);
}

/*—————PHOTO GALLERY—————*/
.photo-gallery {
	text-align: center;
	padding: 57px 0 45px 0;
}
.floor-title {
	color: rgb(255, 53, 61);
	text-align: left;
	font-size: 24px;
	margin-bottom: 20px;
}
.floor-text {
	color: #607d8b;
	text-transform: none;
	text-align: left;
	font-size: 18px;
	margin-bottom: 10px;
}
@media (min-width:1200px) {
	.photo-gallery {
		padding: 60px 0 82px 0;
	}
}